<div class="fitted item choose reference">
	<div class="ui floating filter dropdown" data-can-create-branch="{{.CanCreateBranch}}" data-no-results="{{.i18n.Tr "repo.pulls.no_results"}}">
		<div class="ui basic small button">
			<span class="text">
				<i class="octicon octicon-git-branch"></i>
				{{if .IsViewBranch}}{{.i18n.Tr "repo.branch"}}{{else}}{{.i18n.Tr "repo.tree"}}{{end}}:
				<strong>{{if .IsViewBranch}}{{.BranchName}}{{else}}{{ShortSha .BranchName}}{{end}}</strong>
			</span>
			<i class="dropdown icon"></i>
		</div>
		<div class="menu">
			<div class="ui icon search input">
				<i class="filter icon"></i>
				<input name="search" placeholder="{{.i18n.Tr "repo.filter_branch_and_tag"}}...">
			</div>
			<div class="header branch-tag-choice">
				<div class="ui grid">
					<div class="two column row">
						<a class="reference column" href="#" data-target="#branch-list">
							<span class="text {{if not .IsViewTag}}black{{end}}">
								<i class="octicon octicon-git-branch"></i> {{.i18n.Tr "repo.branches"}}
							</span>
						</a>
						<a class="reference column" href="#" data-target="#tag-list">
							<span class="text {{if .IsViewTag}}black{{end}}">
								<i class="reference tags icon"></i> {{.i18n.Tr "repo.tags"}}
							</span>
						</a>
					</div>
				</div>
			</div>
			<div id="branch-list" class="scrolling menu" {{if .IsViewTag}}style="display: none"{{end}}>
				{{range .Branches}}
					<div class="item {{if eq $.BranchName .}}selected{{end}}" data-url="{{$.RepoLink}}/{{if $.PageIsCommits}}commits{{else}}src{{end}}/{{EscapePound .}}{{if $.TreePath}}/{{EscapePound $.TreePath}}{{end}}">{{.}}</div>
				{{end}}
			</div>
			<div id="tag-list" class="scrolling menu" {{if not .IsViewTag}}style="display: none"{{end}}>
				{{range .Tags}}
					<div class="item {{if eq $.BranchName .}}selected{{end}}" data-url="{{$.RepoLink}}/{{if $.PageIsCommits}}commits{{else}}src{{end}}/{{EscapePound .}}{{if $.TreePath}}/{{EscapePound $.TreePath}}{{end}}">{{.}}</div>
				{{end}}
			</div>
			<div class="create-branch-template" style="display: none">
				<form action="{{.RepoLink}}/branches/_new/{{EscapePound .BranchName}}?name=${newBranchName|encodeURIComponent}" method="post" class="new-branch-form">
					{{.CsrfTokenHtml}}
					<a href="#" class="create-new-branch">
						<div>
							<i class="octicon octicon-git-branch"></i>
							{{.i18n.Tr "repo.branch.create_branch" "${newBranchName}" | Safe}}
						</div>
						<div class="text small">
							{{if or .IsViewBranch .IsViewTag}}
								{{.i18n.Tr "repo.branch.create_from" .BranchName | Safe}}
							{{else}}
								{{.i18n.Tr "repo.branch.create_from" ShortSha .BranchName | Safe}}
							{{end}}
						</div>
					</a>
				</form>
			</div>
		</div>
	</div>
</div>
